$primary-red-color: #DC4145;
$grey-bg: #F2F2F2;
$light-grey-bg: #F8F9FA;
$dark-grey-bg: #343A40;
$heading-color: rgb(27,30,36);
$footer-heading: #B3B3B4;
$footer-text: #8E8E8E;
$white: #ffffff;
$paragraph-color: #6C757D;
$font: 'Archivo', sans-serif;
