@import "vars";
@import "reset";
@import "general";
@import "home";
@import "about";
@import "services";
@import "pricing";
@import "contact";
@import "error";


@media screen and (max-width:992px) and (min-width:768px) {
	html {
		font-size: 14px;
	}
	.container{
		max-width: 960px;
		width: 100%;
	}
	.md-width-full{
		flex: 0 1 100%;
	}
}

@media screen and (min-width:320px) and (max-width:768px){
    html{
        font-size: 12px;
    }
    .container{
        max-width: 720px;
        width: 100%;
        padding: 0 1rem;
    }
    .padding{
        padding: {
            top: 5rem;
            bottom: 5rem;
        }
    }
    br{
        display: none;
    }
    .sm-width-full{
        flex: 0 1 100%;
    }
    .sm-column{
        flex-direction: column;
    }
    .header{
        padding: 12px 0;
        address{
            margin-bottom: 10px;
        }
    }
    .navbar{
        .bars{
            display: inline-block;
            color: $white;
            font-size: 18px;
            background-color: $primary-red-color;
            padding: 8px 16px;
            border-radius: 4px;
            z-index: 100;
        }
        .brand{
            padding: 22px 0;
        }
        .nav{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            width: 100vw;
            background-color: $primary-red-color ;
            padding-top: 10rem;
            z-index: 90;
            ul{
                li{
                   a{
                        font-size: 32px;
                        color: $white;
                    }
                    margin: 24px 0;

                }
            }
        }
        .dropbtn{
            font-size: 32px;
            color: $white;
            background-color: $primary-red-color;
        }
        #toggle:checked ~ .nav{
            display: inline-block;
        }
        .dropdown-content{
            background-color: $primary-red-color;
            top: 0;
            left: 170px;
        }
    }
    .hero{
        .hero-article{
            left: 2%;
        }
        img{
            object-position: 70% 0;
        }
    }
    %best{
        padding: {
            top: 3rem;
            bottom: 3rem;
        }
        text-align: center;
        .btn-tertiary{
            margin-top: 2rem;
        }
    }
    .clients{
        overflow: scroll;
        .flex{
            flex-wrap: nowrap;
        }
        .flex-15{
            flex: 0 0 35%;
        }
    }
    footer{
        ul{
            margin-bottom: 3rem;
        }   
        .ul2{
            width: 80%;
            flex-direction: row;
            .site-links,.quick-links{
                margin: 0;
                margin-bottom: 3rem;
            }
        }
        .follow-us{
            .flex{
                justify-content: flex-start;
            }
        }
        small{
            width: 36%;
        }
    }
    .about-vision{
        figure{
            img{
                width: 100%;
                margin-top: 0;
            }
        }
        .visions{
            flex-direction: row;
            i{
                width: 5%;
                
            }
            article{
                width: 80%;
            }
        }
    }
    .team{
        .member{
            margin-top: 50px;
            padding-bottom: 120px;
        }
    }
    .best-servicespage{
        .ver-center{
            span{
                display: none;
            }
            h4{
                &::after{
                    content: " |";
                }
            }
        }
    }
    .best-awarded{
        .leader-section{
            article{
                padding-right: 40px;
            }
        }
    }
}